body, h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
}
.container-fluid{
	width:100%;
}
.container{
	width:90%;
	margin:0px auto;
	box-sizing:border-box;
}
.row{
	display:flex;
}
.img{
	width:100%;
	height:100%;
	display:block;
}
li{
	list-style:none;
	padding:30px;
}
a{
	display: inline-block;
	text-decoration: none;
}
.justify-end{
	justify-content: flex-end;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    display: inline-block;
}
.d-flex{
    display: flex;
}
.open-sans{
    font-family:"Open Sans" ,Arial ,sans-serif;
}

/* nav start  */
.main-nav{
    justify-content: center;
    align-items: center;
    height: 240px;
    background: url(../photo/event/templatemo_header_2.jpg) no-repeat;
    background-size: cover;
}
.top-navbar{
    background-color: white;
    width: 80%;
    height: 100px;
}
.nav-logo{
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}
.nav-content{
    flex: 1 1 350%;
    justify-content: flex-end;
}
.nav-content a{
    padding: 40px 20px;
    color: #4E6E81;
    font-size: 14px;
    font-weight: 400;
    border-left: 1px solid rgba(123, 121, 121, 0.214);
}
#about{
    background-color: #9ED034;
    
}
#about:hover{
    color: #4E6E81;
}
.nav-content a:hover{
    color: #9ED034;
}
/* nav end  */
/*section start*/
.aside-section{
	margin-top:100px;
}
.aside-1{
	flex:1 1 100%;
	flex-direction: column;
}
.aside-2{
	flex:1 1 100%;
}
.aside-3{
	flex:1 1 100%;
}
/*fast icon start*/
.fast-aside .top-icon{
	position: relative;
	width:70px;
	height:70PX;
	border-radius: 50%;
	background-color:#9ED034;
	margin:50px 0PX 0PX 0PX;
}
.fast-aside .top-icon{
	color:white;
	position: absolute;
	align-items: center;
	justify-content: center;
}
/*second icon start*/
.fast-aside .second-icon{
	position: relative;
	width:70px;
	height:70PX;
	border-radius: 50%;
	background-color:#9ED034;
	margin:150px 0PX 0PX 0PX;
}
.fast-aside .second-icon{
	color:white;
	position: absolute;
	align-items: center;
	justify-content: center;
}
/*third icon start*/
.fast-aside .third-icon{
	position: relative;
	width:70px;
	height:70PX;
	border-radius: 50%;
	background-color:#9ED034;
	margin:260px 0PX 0PX 0PX;
}
.fast-aside .third-icon{
	color:white;
	position: absolute;
	align-items: center;
	justify-content: center;
}
/*last icon start*/
.fast-aside .last-icon{
	position: relative;
	width:70px;
	height:70PX;
	border-radius: 50%;
	background-color:#9ED034;
	margin:360px 0PX 0PX 0PX;
}
.fast-aside .last-icon{
	color:white;
	position: absolute;
	align-items: center;
	justify-content: center;
}
.fast-aside{
	flex:1 1 30%;
}
.fast-article-aside, .second-article-aside, .third-article-aside{
	flex:1 1 70%;
	margin:50px 0px 0px 0px;
}
.tour-asia, .new-adventure, .europe-tour{
	margin:35px 0px 0px 0px;
}
.second-article-aside{
	flex-direction: column;
}
.top-artical p {
	margin:15px 0px 0px 0px;
}
.blank-icon, .last-blank-icon{
	flex:1 1 33%;
	height:120px;
	background-color:#EEEEEE;
	border:1px solid #D4D4D4;
}
.fast-icon, .second-icon, .third-icon, .forth-icon, .fifth-icon, .sixth-icon{
	flex:1 1 100%;
	height:120px;
	background-color:#EEEEEE;
	border:1px solid #D4D4D4;
	align-items: center;
	justify-content: center;
}
.logo-pic, .copyright, .social-media{
	flex:1 1 100%;
	height:220px;
	align-items: center;
	justify-content: center;
}
/* company-logo start  */
.company-logo{
    background-color: #88888841;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}

.company-logo div{
    height: 135px;
    width: 195px;
    justify-content: center;
    align-items: center;
}
.company-logo div img{
    width: 76px;
    height: 75px;
}
/* company-logo end  */
                            /* about us end  */
/* footer start  */
footer{
    height: 200px;
    justify-content: space-around;
    align-items: center;
}
.fotter-content{
    color: #888888;
    font-size: 13px;
}
.fotter-content span{
    color: #9ED034;
}
.footer-icon img{
    margin-right: 20px;
}
/* footer end  */